@import 'styles/variables';

  .social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: .2;
    svg{
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      padding: .25rem;
      fill: $white;
    }
  }

