$primaryColor: #3c2f46;

$black: #333333;
$darkBlack: #000000;

$white: #f1f1f1;
$brightWhite: #ffffff;

//Responsive Breakpoints
$breakpoints: ('phone': 640px, 'tablet': 768px, 'desktop': 1024px) !default;