/** 
Color Palette by Sero: https: //www.colourlovers.com/palette/154245/sorbet
**/

$primary: #4D4C6D;
$secondary:#7CE69D;
$accent: #F4F8C2;


$black: #333333;
$darkBlack: #000000;

$white: #ffffff;

$red: #ad0000;
